@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-Neutral.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-NeutralItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-Median.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-MedianItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-Bulky.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-BulkyItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-Slim.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PolySansTrial";
    src: url("/fonts/PolySansTrial-SlimItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}


html, body{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: "PolySansTrial", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ghost-cursor{
    position:fixed;
    width:30px;height:30px;
    background:url('/images/cursor.webp') center/contain no-repeat;
    pointer-events:none;
    transform:translate(-50%,-50%);
    transition:transform .08s linear;      /* movimento fluido */
    z-index:9999;
  }
  /* facoltativo: alone di click */
  #ghost-click{
    position:fixed;
    width:40px;height:40px;
    border:2px solid rgba(0,0,255,.5);
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
  }
  @keyframes click-anim{
    from{transform:translate(-50%,-50%) scale(.7);opacity:1}
    to  {transform:translate(-50%,-50%) scale(1.6);opacity:0}
  }


  #nprogress .bar { background: #ad96ff !important; }

.swal2-confirm{

  transition: all .2sease-in-out;
  align-items: center;
  background-color: #fff;
  height: 40px;
  margin-right: .5rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  color: #1f2937;
  font-size: .85rem;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  box-shadow: inset 0 0 0 1px #e5e7eb;

}

/* Effetto hover */
.swal2-confirm:hover {
  box-shadow: inset 0 0 0 2px #ad96ff; /* hover:ring-2 hover:ring-primary */
  background-color: white; 
  background-image: none !important;
  color: #ad96ff; /* hover:text-primary */
}

/* Effetto focus */
.swal2-confirm:focus {
  box-shadow: inset 0 0 0 1px #E5E7EB; /* Torna al colore originale */
  background-color: white; 
  background-image: none !important;
  color: #1F2937;
}

/* Effetto mouseout per ripristinare */
.swal2-confirm:focus:not(:focus-visible),
.swal2-confirm:hover:not(:hover-visible) {
  box-shadow: inset 0 0 0 1px #E5E7EB; /* Torna al colore originale */
  background-color: white; 
  background-image: none !important;
  color: #1F2937;
}

div:where(.swal2-icon){
  margin: 3em auto 0 !important;
  zoom: 65% !important;
}

.swal2-actions{
  margin-top: .75rem !important;
}

.swal2-html-container{
  font-size: .95rem !important;
  text-transform: uppercase !important;
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.swal2-title{
  text-transform: uppercase !important;
  font-size: 1.1rem !important;
  margin-top: 0.5rem !important;
}

.swal2-popup, .swal2-modal{
  border-radius: .75rem !important;
}